<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.BuyerConnectionString"
            connectionString="Data Source=LAPTOP-UJ5GD8G0\SQLEXPRESS;Initial Catalog=Buyer;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>